@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default
 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9F62F2;
  --color-secondary: #632EE3;
  --color-base-200: #A1A1AA;
  
}
.text-linear{
  @apply bg-linear-to-l from-primary to-secondary text-transparent bg-clip-text
}
.btn-linear{
  @apply bg-linear-to-l from-primary to-secondary text-white
}

a.active{
   @apply bg-linear-to-l from-primary to-secondary text-transparent bg-clip-text
}